@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.header {
    grid-area: header;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        width: 20%;
        display: inline-block;
    }
    &__title {
        display: inline-block;
        text-align: center;
        font-family: 'Indie Flower', cursive;
        color: var.$textColorPrimary;
        text-align: center;
    }
    .navbar{
        width: 100%;
        &__menu{
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: #fdfbfb;
            font-weight: bold;
            padding: 1vw;
        }
        &__item {
            cursor: pointer;
            color: var.$textColorPrimary;
            font-family: 'Indie Flower', cursive;
            &:hover {
                color: #fdfbfb;
                text-shadow: 2px 2px 4px var.$textColorSecondary;
            }
            &--active {
                color: var.$textColorSecondary;
                text-shadow: 2px 2px 4px var.$textColorPrimary;
            }
        }
    }
}